@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

*{
  /*font-family: 'Allerta Stencil', sans-serif;*/
}
body{
  font-family: 'Allerta Stencil', sans-serif;
  background-color: #FEFFEA;
  margin: 0;

}
h1{
  font-family: 'Special Elite', cursive;
  text-align: center;
}
h2{
  font-family: 'Special Elite', cursive;
  text-align: center;
}
.X{
  padding-right: 1px;
  cursor: pointer;
  margin: 0;
  color: darkred;
}
.plus{
  width: 11px;
  height: 11px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  cursor: pointer;
  width: 11px;
  height: 11px;
  margin: 0;
  color: #FCFC62;
}

.light{
  background-color: #C9C9C9;
}
.dark{
  background-color: #FEFFEA;
}

.lightBottom{
  background-color: #C9C9C9;
}
.darkBottom{
  background-color: #A3A3A3;
}

#FF{
justify-content: flex-start;;
color: #FEFFEA;
}

#header{
  background-color: #424242;
  color: #FCFC62;
  display: flex;
  height: 75px;
  top: 0px;
  padding: 5px;
  margin: 0;
  position: sticky;
  z-index: 100;
  min-width: 850px;
}
#football{
  cursor: pointer;
  margin-left: auto;
  width: 15%;
  height: 80%;
  margin-top: 10px;
}

#subContainer{
  width: 95%;
  margin: auto;
}

#container{
  width: 85%;
  /*height: 95%;*/
  margin:  auto;
  padding-bottom: 15px;
  background-color: #C9C9C9;
  min-width: 850px;
}
#bottomContainer{
  width: 85%;
  height: 175px;
  margin:  auto;
  padding-bottom: 15px;
  background-color: #C9C9C9;
  border-bottom: 5px solid #FCFC62;
  min-width: 850px;
  font-family: 'Droid Serif', serif;
}

#showSelector{
  width: 100%;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #424242;
  border-top: 3px solid #FCFC62;
  min-width: 850px;
}
#plus{
  color: #FCFC62;
  width: 11px;
  height: 11px;
  cursor: pointer;
}

#bottomItem{
  padding: 3px;
  font-size: 14px;
}

#bottomHeader{
  width: 25%;
  float: left;
  background-color: #424242;
  color: #FCFC62;
  text-align: left;
  font-family: 'Allerta Stencil', sans-serif;
  padding-bottom: 3px;
}

#bottomContent{
  margin: .25%;
  width: 24.5%;
  float: left;
  height: 150px;
  font-family: 'Droid Serif', serif;
  background-color: #C9C9C9;
  overflow: auto;
  overflow-x: hidden;
}



#statsBox{
  margin: auto;
  width: 95%;
  height: 400px;
  overflow-y: scroll;
}

#closeOptimized{
  width: 100%;
  height: 15px;
  text-align: right;
  color: #FCFC62;
  cursor: pointer;
  margin-right: 20px;
  font-family: 'Allerta Stencil', sans-serif;
}
.animate-show {
  height: 100px;
  opacity:1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear .75s;
  transition:all linear .75s;
}

.animate-show.ng-hide {
  height: 0px;
  opacity:0;
}

.optimized{
  width: 100%;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #424242;
  border-top: 2px solid #FCFC62;
  min-width: 850px;
}

.optiPlayer{
  display: inline-block;
  width: 10.5%;
  color: #FCFC62;
  font-size: 10px;
  margin: 0;
}

#linupWrapper{
  text-align: center;
  width: 100%;
}

#totals{
  display: inline-block;
  padding: 10px;
  color: #FCFC62;

}


.bottomButtons{
  width: 95%;
  color: #424242;
  font-size: 14px;
  background-color: #FCFC62;
  font-family: 'Allerta Stencil', sans-serif;
  border-radius: 3px;
  margin: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border: 1px solid #424242;
}
.bottomButtons:hover{
  background-color: #A3A3A3;
  color: #FCFC62;
}
.bottomButtons:active{
  background-color: #424242;
  color: #FCFC62;
}


.removeX{
  display: inline-block;
  width: 100%;
}
.togglePos:hover{
  background-color: #A3A3A3;
  color: #FCFC62;
}


.togglePos{
  display: inline-block;
  width: 19%;
  cursor: pointer;
  background-color: #FCFC62;
  color: #424242;
  border-radius: 2px;
}
.posActive{
  border: 1px solid #FCFC62;
  border-radius: 3px;
  background-color: #424242;
  color: #FCFC62;

}

.showPlayersBox{
  height: 400px;
  margin: auto;
  width: 100%;
  overflow: auto;
  background-color: #FEFFEA;
}

.playersBoxHeaders{
  margin: auto;
  width: 95%;
  border-bottom: 2px solid #424242;
  border-top: 3px solid #A3A3A3;
  background-color: #424242;
  color: #FCFC62;
  text-align: left;
}

i{
  margin-right: 10px;
  float: right;
}

.dataHeaders{
  width: 80%;
}
.playerDataHeader{
  margin: 2px;
  display: inline-block;
  width: 13%;
  cursor: pointer;

}

.playerDetail{
  margin: 2px;
  display: inline-block;
  width: 14%;
  text-align: left;
  font-size: 14px;
  font-family: 'Droid Serif', serif;
}
.playerRemoveHeader{
  margin: 2px;
  display: inline-block;
  width: 9%;
}
.removePlayer{
  margin: 2px;
  display: inline-block;
  width: 9%;
  text-align: center;
  align: center;
  font-size: 14px;
  color: darkred;
  font-weight: bold;
  font-family: 'Allerta Stencil', sans-serif;
  cursor: pointer;
}


.playerDataHeaderGame{
  margin: 2px;
  display: inline-block;
  width: 20%;
  cursor: pointer;

}

.playerDetailGame{
  margin: 2px;
  display: inline-block;
  width: 21%;
  text-align: left;
  font-size: 14px;
  font-family: 'Droid Serif', serif;

}

.playerDataHeaderName{
  margin: 2px;
  display: inline-block;
  width: 22%;
  cursor: pointer;
}

.playerDetailName{
  margin: 2px;
  display: inline-block;
  width: 23%;
  font-size: 14px;
  font-family: 'Droid Serif', serif;

}

#scoring{
  color: #FEFFEA;
  display: inline-block;

}

#rules{
  color: #FCFC62;
  display: inline-block;

}

/*MODAL*/

h4{
  color: #FCFC62;
  text-shadow: 1px 1px #424242;
}
#note{
  list-style: none;
}
#modal{
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  /*display: none;*/
}
#modal-text-area {
  background-color: #C9C9C9;
  height: 625px;
  width: 600px;
  border: 3px solid #424242;
  margin: 150px auto;
  /*padding: 0px 20px 5px 20px;*/
  color: #424242;
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#modal-footer {
  text-align: right;
}

#modalContent{
  height: 535px;
  padding: 10px;
  overflow: auto;

}

#closeBtn {
  float: right;
  padding-right: 15px;
  color: #FCFC62;
  cursor: pointer;
  font-family: 'Special Elite', cursive;
  float: right;

}

#modal-header {
  margin: 0;
  text-align: center;
  font-family: 'Special Elite', cursive;
  background-color: #424242;
  border-bottom: 4px solid #FCFC62;
}
