@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

*{
  /*font-family: 'Allerta Stencil', sans-serif;*/
}
body{
  font-family: 'Allerta Stencil', sans-serif;
  background-color: #FEFFEA;
  margin: 0;

}
h1{
  font-family: 'Special Elite', cursive;
  text-align: center;
}
.X{
  padding-right: 1px;
  cursor: pointer;
  margin: 0;
  color: darkred;
}
.plus{
  width: 11px;
  height: 11px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  cursor: pointer;
  width: 11px;
  height: 11px;
  margin: 0;
  color: #FCFC62;
}

.light{
  background-color: #C9C9C9;
}
.dark{
  background-color: #FEFFEA;
}

#FF{
justify-content: flex-start;;
color: #FEFFEA;
}

#header{
  background-color: #424242;
  color: #FCFC62;
  display: flex;
  height: 75px;
  top: 0px;
  padding: 5px;
  margin: 0;
  position: sticky;
  z-index: 100;
  min-width: 785px;
}
#football{
  cursor: pointer;
  margin-left: auto;
  width: 15%;
  height: 80%;
  margin-top: 10px;
}

#subContainer{
  width: 95%;
  margin: auto;
}

#container{
  width: 85%;
  /*height: 95%;*/
  margin:  auto;
  padding-bottom: 15px;
  background-color: #C9C9C9;
  min-width: 785px;
}
#bottomContainer{
  width: 85%;
  height: 175px;
  margin:  auto;
  padding-bottom: 15px;
  background-color: #C9C9C9;
  border-bottom: 5px solid #FCFC62;
  min-width: 785px;
  font-family: 'Droid Serif', serif;
}

#showSelector{
  width: 100%;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #424242;
  border-top: 3px solid #FCFC62;
  min-width: 785px;
}
#plus{
  color: #FCFC62;
  width: 11px;
  height: 11px;
  cursor: pointer;
}

#bottomItem{
  padding: 2px;
  font-size: 14px;
}

#bottomHeader{
  width: 25%;
  float: left;
  background-color: #424242;
  color: #FCFC62;
  text-align: left;
  font-family: 'Allerta Stencil', sans-serif;
  padding-bottom: 3px;
}

#bottomContent{
  width: 25%;
  float: left;
  height: 150px;
  font-family: 'Droid Serif', serif;
  background-color: #C9C9C9;
  overflow: auto;
  overflow-x: hidden;
}



#statsBox{
  margin: auto;
  width: 95%;
  height: 500px;
  overflow-y: scroll;
}

.removeX{
  display: inline-block;
  width: 100%;
}
.togglePos:hover{
  background-color: #A3A3A3;
  color: #FCFC62;
}
.togglePos{
  display: inline-block;
  width: 19%;
  cursor: pointer;
  background-color: #FCFC62;
  color: #424242;
  border-radius: 2px;
}

.showPlayersBox{
  height: 500px;
  margin: auto;
  width: 100%;
  overflow: auto;
  background-color: #FEFFEA;
}

.playersBoxHeaders{
  margin: auto;
  width: 95%;
  border-bottom: 2px solid #424242;
  border-top: 3px solid #A3A3A3;
  background-color: #424242;
  color: #FCFC62;
  text-align: left;
}

i{
  margin-right: 10px;
  float: right;
}

.dataHeaders{
  width: 80%;
}
.playerDataHeader{
  margin: 2px;
  display: inline-block;
  width: 13%;
  cursor: pointer;

}

.playerDetail{
  margin: 2px;
  display: inline-block;
  width: 14%;
  text-align: left;
  font-size: 14px;
  font-family: 'Droid Serif', serif;
}
.playerRemoveHeader{
  margin: 2px;
  display: inline-block;
  width: 9%;
}
.removePlayer{
  margin: 2px;
  display: inline-block;
  width: 9%;
  text-align: center;
  align: center;
  font-size: 14px;
  color: darkred;
  font-weight: bold;
  font-family: 'Allerta Stencil', sans-serif;
  cursor: pointer;
}


.playerDataHeaderGame{
  margin: 2px;
  display: inline-block;
  width: 20%;
  cursor: pointer;

}

.playerDetailGame{
  margin: 2px;
  display: inline-block;
  width: 21%;
  text-align: left;
  font-size: 14px;
  font-family: 'Droid Serif', serif;

}

.playerDataHeaderName{
  margin: 2px;
  display: inline-block;
  width: 22%;
  cursor: pointer;
}

.playerDetailName{
  margin: 2px;
  display: inline-block;
  width: 23%;
  font-size: 14px;
  font-family: 'Droid Serif', serif;

}

/*MODAL*/
#note{
  list-style: none;
}
#modal{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  /*display: none;*/
}
#modal-text-area {
  background-color: #FEFFEA;
  height: 625px;
  width: 600px;
  border: 5px solid #424242;
  margin: 150px auto;
  overflow: auto;
  padding: 0px 20px 5px 20px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.7);
  color: #424242;
  font-family: 'Droid Serif', serif;
  font-size: 18px;
}
#modal-footer {
  text-align: right;
}

#closeBtn {
  color: #424242;
  cursor: pointer;
  font-family: 'Special Elite', cursive;
  float: right;

}

#modal-header {
  text-align: center;
  font-family: 'Special Elite', cursive;

}
